body{
  background: #c7eff570;
}

input[type='submit'],button
{
 cursor: pointer;
 border-radius: 6px;
 color:  #fff;
 font-family: sans-serif;
 border-color: #0d6efd;
 background-color: #0d6efd;
 padding: 4px;
}
#error{
  color: red;
}
#update_btn{
  display:none;
}
